<!doctype html>
<html lang="en" ng-app="eodmotic">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Welcome to Eodmotic</title>
    <link rel="stylesheet" href="/resources/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/resources/node_modules/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/app.css">

    <script src="/resources/node_modules/jquery/dist/jquery.min.js"></script>

    <script src="/resources/node_modules/angular/angular.min.js"></script>
    <script src="/resources/node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="/resources/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/resources/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/resources/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="/resources/node_modules/bootstrap/js/dropdown.js"></script>

    <script src="/resources/admin/messages/service.js"></script>
    <script src="/resources/admin/messages/controller.js"></script>
    <script src="/resources/admin/routing.js"></script>
    <script src="/resources/admin/app.js"></script>


    <base href="/ops/">
</head>
<body>

<nav class="nav navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            <!--<li id="mainNavLi"><a ng-href="main">Home</a></li>-->
            <li id="motesNavLi"><a ng-href="messages">Messages</a></li>
        </ul>
    </div>
</nav>


<div class="container" ng-view></div>


</body>
</html>