<div ng-controller="HipChatMessagesCtrl" class="panel panel-default">
    <div class="panel-heading">

        <h2>EoD BOT</h2>
        <h5>The ultimate HipChat troll tool.</h5>
    </div>

    <div class="panel-body">
        <div class="alert {{alertType}} alert-dismissible" role="alert" ng-show="showAlert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hideAlert()"><span aria-hidden="true">&times;</span></button>
            <p>{{alertMessage}}</p>
        </div>

        <table ng-table="tableParams" class="table table-hover table-bordered" show-filter="true">
            <tr ng-repeat="message in $data track by $index">
                <td data-title="'#'"  filter="{ id: 'text' }" sortable="'id'">{{message.id}}</td>
                <td data-title="'Message to react'" filter="{ key: 'text' }" sortable="'key'">{{message.key}}</td>
                <td data-title="'Answers to that message'" >

                    <div class="" ng-repeat="response in message.responses track by $index">
                        <p>{{response.text}}</p>
                    </div>

                </td>
                <td data-title="'Actions'" header-class="col-sm-1">
                    <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="open(message)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" ng-click="delete(message)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                    </button>

                </td>


            </tr>
        </table>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-success" aria-label="Left Align" ng-click="open()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </button>
    </div>

</div>


<script id="messagesModal.html" type="text/ng-template">
    <div class="modal-header">
        <h3>
            <div ng-show="message.id != 0">Editing troll answers for message {{ message.key }}</div>
            <div ng-show="message.id == 0">New message to troll</div>
        </h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="keyMessage">Whenever someone says ...: </label>
            <input type="text" class="form-control" id="keyMessage" placeholder="Word or sentence to react..."
                   ng-model="message.key"/>
        </div>
        <hr/>
        <div class="form-group">
            <label for="keyMessage">I will respond (randomly one of the following)...: </label>

            <div ng-repeat="response in message.responses track by $index" class="form-inline">
                <div class="input-group col-sm-12">
                    <input type="text" class="form-control" ng-model="response.text"
                           placeholder="Put here a troll message"/>

                    <span class="input-group-btn">
                        <button class="btn btn-warning" type="button" aria-label="Left Align"
                                ng-click="removeAnswer($index)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-success" aria-label="Left Align" ng-click="addAnswer()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">OK</button>
        <button class="btn btn-primary" ng-click="cancel()">Cancel</button>
    </div>
</script>